@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using Local_EPiServer.Models.ViewModels;

@model PageViewModel<testpage>
<div>
    @Html.PropertyFor(m => m.CurrentPage.MainBody)
    @Html.PropertyFor(m => m.CurrentPage.)
</div>